html {
    scroll-snap-type: y mandatory;
} 

.app {
    display: grid;
    place-items: center;
    height: 150vh;
    background-color: black;
}

.app__top {
    /* margin-bottom: 30px; */
    margin-top: 20px;
}

.app__top > h1 {
    text-align: center;
    color: white;
    
}
.app__logo {
    height:13.5vh;
}

.app__videos {
    position: relative;
    height: 110vh;
    background-color: white;
    width: 50%;
    border-radius: 20px;
    max-width: 450px;
    max-height: 1200px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

/* Hides scrollbar from Chrome, Safari and opera */
.app__videos::-webkit-scrollbar {
    display: none;
}

/* Hides scrollbar from IE, Edge & Firefox */
.app__videos {
    -ms-overflow-style: none; 
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}